EXPO_PUBLIC_API_BASE_URL=http://localhost:5000/api
EXPO_PUBLIC_FIREBASE_CONFIG={"apiKey":"AIzaSyBhOBrJgkyU0WfyqN9bBOQMLVMnmW5iTuo","authDomain":"produce-ordering-app.firebaseapp.com","projectId":"produce-ordering-app","storageBucket":"produce-ordering-app.firebasestorage.app","messagingSenderId":"49028414977","appId":"1:49028414977:web:6bbbf7394d5d3b7d1e8a00","measurementId":"G-NFHMY8VDNE"}
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-google-web-client-id.apps.googleusercontent.com
